<style>
    .block-container {
        background-color: #f8f8f8;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .block-code {
        background-color: #f1f1f1;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        white-space: pre-wrap;
        overflow-x: auto;
    }

    .block-image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 10px 0;
        border-radius: 5px;
    }
</style>

<div class="block-container">
    <h2 id="{{{id}}}">Block {{{id}}}</h2>
    <details open>
        <summary>Code</summary>
        <pre class="block-code">{{{text}}}</pre>
    </details>
    <img class="block-image" src="{{{result}}}">
</div>

